doctype html
html
    head
        title this is title
        script(src='../../../bower_components/jquery/dist/jquery.js')
        script(src='../../..//bower_components/vue/dist/vue.js')
    body
        .header 
            img(src="", alt="")
        .name.v.his(data-index='abc')
        .footer
            .copyright new copyright